<div>
    <span class="lead">Lista Autos</span>
    <div  class="btn-group" appDropdown>
        <button class="btn btn-primary dropdown-toggle">Ordenar por <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a style="cursor:pointer;" (click)="onSortType('segment')">segmento </a></li>
            <li><a style="cursor:pointer;" (click)="onSortType('year')">año</a></li>
            <li><a style="cursor:pointer;" (click)="onSortType('name')">nombre</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-4" >
            <app-car-item *ngFor="let c of carsList, let i= index" [car]="c" [index]="i"></app-car-item>
    </div>
    <div class="col-sm-8" >
        <router-outlet></router-outlet>
    </div>

</div>
